/* General Sets */

* {
    margin: 0px;
    padding: 0px;
}
*::selection {
    color: #FFA200;
}
body {
    background: #D8D8D8;
    position: relative;
    overflow-x: hidden;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #414141;
}
h1 {
    font-family: 'Roboto', sans-serif;
    color: #525252;
    font-weight: bold;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: #525252;
}
a {
    text-decoration: none;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    color: #525252;
}
a:hover {
    color: #FFA200;
    text-decoration: none;
}

/* Classes */

.menu {
    background: #353535;
    position: fixed;
    width: 300px;
    height: 100%;
    padding: 10px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.menu_link {
    padding: 15px;
}
.link {
    color: white;
}
.button {
    margin: 5px;
    cursor: pointer;
}
.text {
    font-size: 20px;
    margin-left: 420px;
    padding-top: 50px;
    margin-right: 20px;
}
.long_text {
    font-size: 17px;
    width: 65%;
    margin-left: 420px;
    padding-top: 50px;
    padding-bottom: 60px;
}
.videos_text {
    min-width: 150px;
}
.video {
    margin-right:30px;
    padding-bottom: 50px;
    position: relative;
}
.mobile_bottom {
    display: none;
    background: #353535;
}

/* IDs */

#home_text {
    max-width: 800px;
}
#bottom {
    position: fixed;
    bottom: 0px;
    z-index: 999999;
}
#logo {
    display: none;
}

/* Responsive Sets */

@media screen and (min-device-width: 930px) and (max-device-width: 1500px) {
    .video {
        padding-right: 100%;
    }
}
@media screen and (min-device-width: 190px) and (max-device-width: 930px) {

    /* General Sets */

    body {
        background: #353535;
    }

    /* Classes */

    .menu {
        width: 100%;
        height: auto;
        position: relative;
    }
    .menu img {
        display: none;
    }
    .link {
        font-size: 30px;
    }
    .menu_link {
        padding: 5px;
    }
    .policy {
        padding-left: 5px;
    }
    .long_text {
        margin-left: 10px;
        width: 90%;
    }
    .text {
        margin-left: 10px;
    }
    .mobile_bottom {
        display: block;
        text-align: right;
        width: 100%;
        padding-right: 20px;
    }

    /* IDs */

    #bottom {
        display: none;
    }
    #policy {
        font-size: 10px;
    }

    #logo {
        display: block;
    }
    #home_text {
        display: none;
    }
}
