/* Fonts */

@font-face {
    font-family: "Jey";
    src: url('../fonts/jey.ttf');
}

/* General Sets */

* {
  margin: 0px;
  padding: 0px;
}
p, h1, h2, h3 {
font-family: 'Roboto', sans-serif;
}
a {
  color: orangered;
}
a:hover{
  text-decoration: none;
}
h1, h2, h3 {
  font-weight: 200;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 160px; /* Footer Height */
}

/* Classes */

.container {
  max-width: 760px;
  padding-top: 80px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.container h1{
  text-align: center;
}
.container p, h1, h2, h3 {
  padding-left: 10px;
  padding-right: 10px;
}
.footer {
  background-color: #424242;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  height: 160px;

  position: absolute;
  bottom: 0;
}
.footer_text {
  max-width: 760px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.footer_text p, .footer_text a{
  color: white;
  font-size: 0.9em;
  margin-left: auto;
  margin-right: auto;
}
.signature {
  font-family: "Jey", sans-serif;
  font-size: 4em;
}
.video {
  width: 100%;
  height: 570px;
  margin-bottom: 20px;
}
.videos_text {
  font-size: 1.2em;
  font-weight: 300;
}
.project h1 {
  font-size: 3em;
  color: #424242;
  text-align: center;
}
.project p {
  color: #424242;
  text-align: center;
}
.project {
  background-color: #FEC224;
  border-radius: 3px;
  box-shadow: 0px 0px 20px #757575;
  opacity: 1;
}
.project:hover {
  background-color: #BEBEBE;
}
.to_open {
  display: none;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 16px;
}
.open img {
  margin-bottom: 10px;
  width: 100%;
}
.github, .love, .license {
  display: inline;
  text-align: right;
}
.resize {
  width: 100%;
  height: 422px;
}
.button {
  font-weight: 600;
  font-size: 1.5em;
  padding: 5px 20px 5px 20px;
  border: solid 1px #424242;
  border-radius: 30px;
  background-color: #FEC224;
  color: #424242;
}
.button:hover {
  background-color: #B86823;
  color: white;
}
.long_text ul {
  margin-left: 40px;
}
.same_line_buttons {
  margin: 25px;
}
.banner {
  background-color: rgba(254, 194, 36, 0.5);
  padding: 20px;
  margin: 20px 5px;
  border-radius: 10px;
  text-align: center;
  color: #424242;
  font-size: 1.1em;
}
.banner:hover {
  background-color: #FEC224;
}
.blink {
  animation: blinker 1s linear infinite;
}
.arrow {
  width: 15px;
  height: 15px;
  margin-top: -3px;
}
.about_img {
  width: 100%;
  border-radius: 40px;
  margin-bottom: 10px;
}

/* NAV */

    /* Classes */

        .nav {
          position: fixed;
          background-color: #424242;
          width: 100%;
          height: 50px;
          box-shadow: 0px 0px 10px #757575;
          z-index: 99;
        }
        .nav_mobile {
          position: fixed;
          background-color: #BEBEBE;
          width: 100%;
          margin-top: 50px;
          display: none;
        }
        .nav ul {
          list-style: none;
          position: absolute;
          text-align: center;
          width: 100%;
        }
        .nav_mobile ul {
          list-style: none;
          margin-left: 10px;
        }
        .nav li {
          display: inline-block;
          height: 100%;
        }
        .nav a {
          font-size: 20px;
          font-weight: 300;
          color: white;
        }
        .nav_mobile a {
          color: #424242;
          font-style: none;
          font-size: 20px;
          font-weight: 300;
          height: 100%;
        }
        .nav li, .nav_mobile li {
          padding-right: 10px;
          padding-left: 10px;
          padding-top: 10px;
        }
        .nav_logo {
          width: 40px;
          height: 40px;
          margin-top: 5px;
          left: 5px;
          display: inline-block;
          margin-left: 5px;
          position: absolute;
          z-index:10;
        }
        .nav_button {
          width: 40px;
          height: 40px;
          top: 5px;
          right: 5px;
          position: absolute;
          display: none;
        }
        .hvr-overline-from-center:before {
          background: #FEC224;
        }


/* Responsive */

@media screen and (max-width: 760px) {
  .nav_button {
    display: inline;
  }
  .nav li {
    display: none;
  }
  .video {
    height: 300px;
  }
  .resize {
    height: 270px;
  }
  .submenu {
    margin-top: 270px;
  }
  .project {
    border-radius: 0px;
    box-shadow: 0px 0px 0px;
    opacity: 1;
  }
  .container {
    padding-top: 50px;
  }
  .container p {
    margin-bottom: 5px;
  }
  .no_space {
    padding-top: 60px;
  }
  .github {
    display: none;
  }
  .lpi_button {
    font-size: 6vw;
    display: block;
    margin: 25px;
  }
  .about_img {
    border-radius: 0px;
  }
}

/* Animations */

/* This makes arrows blink */

@keyframes blinker {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}
